@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-sarabun);
  --font-heading: var(--font-kanit);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sarabun), sans-serif;
}
